/* RESET */
@import "reset.css";

/* Import Components */
@import "components/header_menu.css";
@import "components/Img.css";

/* Import Screens */
@import "screens/home.css";

body {
  position: relative;
  background-color: #1e1f21;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0px;
  font-size: 12px;
  color: whitesmoke;
}

.night_day__btn {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 70px;

  height: 40px;
  width: 180px;

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  background-color: #333638;

  justify-content: space-evenly;
  align-items: center;
  border-top: 0px;
  border-left: solid 0.1px #333638;
  border-right: solid 0.1px #333638;
  border-bottom: solid 1px #333638;
  border-radius: 30px;
  padding: 0px 7px;
  box-sizing: border-box;
}

.night_day__btn i {
  color: aliceblue;
  margin: 0px;
  padding-left: 10px;
  padding: 0px;
}

.night_day__btn span {
  font-size: 13px;
}

.night_day__btn:hover {
  background-color:#494e52;
}
